@import url('https://fonts.googleapis.com/css?family=Staatliches');

body{
	font-family: 'Staatliches', sans-serif;
	font-size: 2em;
}

input {
	font-size: .5em;

}

h1, h2 {
	text-align: center;
}

img, p {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}

form, ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;


}